body {
  display: flex;
  justify-content: center;
  height: 98vh;
  align-items: center;
  background-color: rebeccapurple;
}
#table {
  height: 5%;
  width: 5%;
}
.container {
  margin: auto;
  padding: 5px;
  border: 10px solid #7d7d7d;
  border-radius: 35px;
}
.clickBtn {
  height: 70px;
  width: 70px;
  border-radius: 10%;
}
#screen {
  height: 50px;
  width: 281px;
  border-radius: 30px;
  border: 6px solid rgb(0, 0, 0);
}
#equalTo {
  background-color: green;
}
#clear {
  background-color: red;
}
#delet {
  background-color: yellow;
}
